<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [class]="dominantColor" [style.background]="getGradientStyle(dominantColor)">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <ion-img [src]="urlImage"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <div>
            <h2>{{name.toUpperCase()}}</h2>

            <div>
              @for(artist of artists; track artist.id){
              <div>
                <h3>{{artist.name}}</h3>
              </div>
              }
            </div>
          </div>
        </ion-col>

        <ion-col size="4">
          <play-button (click)="playAlbum()"/>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <div>
            <div>
              <h4>Número de Canciones: <span>{{totalTracks}}</span></h4>
              <h4>Fecha de lanzamiento: <span>{{date}}</span></h4>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Canciones</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              @for(song of songs; track song.id){
              <ion-item [id]="song.id" (click)="goToSong(song.id)">
                <ion-thumbnail slot="start">
                  <img [src]="urlImage"/>
                </ion-thumbnail>
                <ion-label>{{song.name}}</ion-label>
              </ion-item>
              }
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row>
        <h3>Artistas</h3>
      </ion-row>

      <ion-row>
        <div>
          @for(artist of artists; track artist.id; let index= $index){
          @if(artists.length === 1){
          <ion-col size="10" (click)="goToArtist(artist.id)">
            <ion-card>
              <img [src]="artist.imageUrl"/>
              <ion-card-header>
                <ion-card-title>{{artist.name}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          }@else{
          <ion-col size="6" (click)="goToArtist(artist.id)">
            <ion-card>
              <img [src]="artist.imageUrl"/>
              <ion-card-header>
                <ion-card-title>{{artist.name}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          } }
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
