<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="playlists" href="/tabs/playlists">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
