<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div [ngStyle]="{'height': imageSize + 'px', 'width': imageSize + 'px'}">
            <ion-img [src]="urlImage"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="7">
          <h2>{{name.toLowerCase()}}</h2>
          <div>
            @for(artist of artists; track artist.id){
            <div>
              <h3>{{artist.name}}</h3>
            </div>
            }
          </div>
        </ion-col>

        <ion-col size="5">
          <div>
            <ion-button fill="clear" (click)="toggleLike()">
              <ion-icon name="{{ isLiked ? 'heart-dislike-outline' : 'heart-outline' }}"></ion-icon>
            </ion-button>
          </div>
          <play-buttom [songUrl]="urlSong" (click)="updateSharedData()" />
        </ion-col>
      </ion-row>

      <ion-row>
        <h3>Información de la canción</h3>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <div>
            <div>
              <h4>Duración: <span>{{formattedDuration}}</span></h4>
              <h4>Fecha de lanzamiento: <span>{{date}}</span></h4>
            </div>
          </div>
        </ion-col>

        <ion-col size="4">
          <div>
            <div>
              <ion-img [src]="album.urlImage"></ion-img>
              <div>
                <h3>{{album.name}}</h3>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <h3>Artistas de la canción</h3>
      </ion-row>

      <ion-row>
        <div>
          @for(artist of artists; track artist.id; let index= $index){
          @if(artists.length === 1){
          <ion-col size="10" (click)="goToArtist(artist.id)">
            <ion-card>
              <img [src]="artist.urlImage"/>
              <ion-card-header>
                <ion-card-title>{{artist.name}}</ion-card-title>
                <ion-card-subtitle>Seguidores: {{artist.followers}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          }@else{
          <ion-col size="6" (click)="goToArtist(artist.id)">
            <ion-card>
              <img [src]="artist.urlImage"/>
              <ion-card-header>
                <ion-card-title>{{artist.name}}</ion-card-title>
                <ion-card-subtitle>Seguidores: {{artist.followers}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          } }
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
