<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row>
        <label>Nombre de usuario</label>
        <ion-input
          placeholder=""
          [(ngModel)]="username"
        ></ion-input>
      </ion-row>

      <ion-row>
        <label>Contraseña</label>
        <ion-input
          type="password"
          placeholder=""
          [(ngModel)]="password"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-row>

      <ion-row>
        <ion-button (click)="login()">
          Iniciar sesión
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
