<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <ion-img [src]="urlImage"></ion-img>
            <div></div>

            <div>
              <h2>{{name}}</h2>
              <div>
                @for(genre of genres; track genre){
                <h3>{{genre}}</h3>
                }
              </div>
              <h3><span>Followers </span> {{followers}}</h3>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Canciones populares</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              @for(song of songs; track song.id){
              <ion-item [id]="song.id" (click)="goToSong(song.id)">
                <ion-thumbnail slot="start">
                  <img [src]="song.urlImage"/>
                </ion-thumbnail>
                <ion-label>{{song.name}}</ion-label>
              </ion-item>
              }
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Albums</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              @for(album of albums; track album.id){
              <ion-item [id]="album.id" (click)="goToAlbum(album.id)">
                <ion-thumbnail slot="start">
                  <img [src]="album.urlImage"/>
                </ion-thumbnail>
                <ion-label>{{album.name}}</ion-label>
              </ion-item>
              }
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>