<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    [debounce]="2000"
      (ionInput)="handleInput($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    @for(genre of genres; track genre){
    <div (click)="redirectToGenre(genre)">
      <ion-card [color]="getRandomColor(genre)">
        <ion-card-header>
          <ion-card-title>
            {{genre.toUpperCase()}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    }
  </div>
</ion-content>
